:root{

    --orange:#E27B44;
    --blackClean:#1E1E1E;
    --blackCleanToggle:#1E1E1E;
    --grey:#575757;
   --fontgrown:'Lalezar',sans-serif;
    --font:'Open Sans', sans-serif;
    --background:#f3f3f3;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    letter-spacing:  -0.5px;;
   
  
}


.backgroundpag{
  background-color: var(--background);
  transition: background-color 0.5s ease, color 0.5s ease;
  
  
}



.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-family: var(--fontgrown);
  padding-top: 6em;
  text-align: left;

}


.text{
  margin-bottom: 4em;
  margin-top: 4em;
}




.text h1 {
  max-width: 700px;/*Tive que aumentar pra ficar bacanudo*/
  margin: 0em;
  font-size: 5rem;
  color: var(--orange);
}




/* .text h1 {
  font-size: 5rem;
  margin: 0;
  color: var(--orange);
} */


/* .text h2 {
  text-align:left;
  font-size: 2rem;
  margin: 0;
  color: var(--blackCleanToggle);
  

} */


.text p {
  color:var(--grey);
  font-family: var(--font);
  font-size: 1rem;
}










.containertext {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align:justify;
  gap: 10px;
  font-family: var(--fontgrown);
  /* padding-top: 0em; */

}



.textcontent2 {
  max-width: 700px;/*vou arrumar isso aqui algum dia antes do dia 11 socorr*/
}



/* .text h2 {
  text-align:left;
  font-size: 2rem;
  margin: 0;
  color: var(--blackCleanToggle);
  

} */








.textcontent2,.contentsumary ,.section2 p {
  color:var(--grey);
  font-family: var(--font);
  font-size: 1.2rem;
  font-weight: 600;
}



.contentsumary img{
  max-width: 100%;
}

img{
   max-width: 100%;
}






.containersection2 {
  text-align:justify;
  gap: 1px;
  font-family: var(--fontgrown);
  padding-top: 2em;

}

.section2 h1 {
  font-size: 2.5rem;
  margin: 0;
  color: var(--orange);
}





.textcolorhref{
  color: var(--orange);
}





/*bloco de texto*/
.containersectiontextarea {
  text-align:justify;
  gap: 1px;
  font-family: var(--fontgrown);
  padding-top: 2em;

}

.sectiontextarea h1 {
  font-size: 2rem;
  margin: 0;
  color: var(--orange);
}


.buttomcunstomtext { 
  font-family: var(--font);

}



.sectionwithcite{
  font-size: 0.7em;
  font-weight:lighter;
   font-family: var(--font);
   margin-bottom: 10em;

}




.BackgroundFooter{
  background-color: var(--blackClean);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 4em 15em; /*coloquei em 20 pra juntar, se der ruim eu vou tirar*/
  /* position: relative; */
}


.footercontent{
  display: flex;
  align-items: center;
  gap: 10px;

  
  
}



.contentfooterright{
  font-family: var(--font);
  color: var(--grey);
  text-align: right;
  font-size: 0.9rem;
}

.contentAutor{
  font-style: italic;
  display: block;
  margin-bottom: 5px;
}


.footercontent img{
  max-width: 200px;
}



.footerbottom{
   grid-column: 1 / -1;
  font-family: var(--font);
  text-align: center;
  margin-top: 6.5em;
  color: #a1a1a1;
  font-size: 0.6rem;
  position: relative;
  top: 40px;
}















@media(max-width: 768px){

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: var(--fontgrown);
  padding-top: 2em;
  text-align: left;

}

.text {
  max-width: 400px;/*Tive que aumentar pra ficar bacanudo*/
  margin: 0em;
  font-size: 5rem;
  color: var(--orange);
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.text h1{
  font-size: 0.7em;
}



.textcontent2 {
  max-width: 400px;/*vou arrumar isso aqui algum dia antes do dia 11 socorr*/
}





}



