
:root{

    --orange:#E27B44;
    --blackClean:#1E1E1E;
    --blackCleanToggle:#1E1E1E;
    --grey:#575757;
   --fontgrown:'Lalezar',sans-serif;
    --font:'Open Sans', sans-serif;
    --background:#f3f3f3;

}


.cunstombuttonstyle button {
  width: 80px;
  padding: 5px;
  margin-right: 30px; 
  border: none;
  background-color: var(--orange);
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
}

.cunstombuttonstyle button:last-child {
  margin-right: 0;
}

textarea{
    width: 30em;
    height: 5.6em;
    font-size: 15px;
}

.colorcunston{
    width: 50px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid var(--orange);
}





.ImageGif{
 margin-bottom: 30px;
 border-radius: 10px;
}


@media (max-width:768px){

textarea{
    width: 20em !important;
    height: 5.6em;
    font-size: 15px;
}


.ImageGif{
 margin-bottom: 30px;
 border-radius: 10px;
 width: 20em;
}



}