




.BackGroundNavBar {
  background-color: var(--orange);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--blackClean);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 1rem;
}

.ContentLinks {
  width: 50%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 2.4em;
}

.ContentMenu {
  display: flex;
  align-items: center;
  gap: 0rem; /*antes era 0.8*/
}

.hamburger {
  cursor: pointer;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modeToggle {
  cursor: pointer;
  font-size: 1.4rem;
}

/* ===== MENU LATERAL ===== */
.navContainer {
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100vh - 80px);
  width: 320px;
  background-color: var(--background);
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 3.5rem;
  z-index: 999;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--blackClean) var(--orange);
}

.navContainer.active {
  transform: translateX(0);
}

.navContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  padding-bottom: 40px;
}

.navContainer ul li {
  margin: 1.6rem 0;
}

.navContainer ul li a {
  text-decoration: none;
  color: var(--blackCleanToggle);
  font-family: var(--font);
  font-size: 0.9rem;
  transition: color 0.3s;
}

.navContainer ul li a:hover {
  color: var(--orange);
  font-weight:600;
}



/* ===== RESPONSIVIDADE ===== */
@media (max-width: 480px) {
  .navContainer {
    width: 85%;
  }

  .ContentLinks{
   width: 75%;
   font-size: 15px;
  }

  .logo {
    width: 2.2em;
  }
}

@media (max-width: 768px) {
  .navContainer {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .ContentLinks {
    width: 650px;
  }
}

@media (min-width: 1440px) {
  .ContentLinks {
    max-width: 1500px;
  }
}
