:root{

    --orange:#E27B44;
    --blackClean:#1E1E1E;
    --blackCleanToggle:#1E1E1E;
    --grey:#575757;
   --fontgrown:'Lalezar',sans-serif;
    --font:'Open Sans', sans-serif;
    --background:#f3f3f3;

}

